// Codes couleurs
// Greenery : #88B04B <-- active
// Periscope : #4C4B55 <- Main text color

* {
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	font-family: 'Noto', sans-serif;
	color: #4C4B55;
	position: relative;
	overflow-x: hidden;
}

a, a:visited {
	color: #4C4B55;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	list-style-type: none;
}

/* ---------- */
/* Header     */
/* ---------- */
header {
	position: relative;
	text-align: center;
}

.header-bg {
	background-image: url(https://res.cloudinary.com/dz3aesydr/image/upload/v1458161039/photo_rroep5.jpg);
	background-position: 85% 80%;
	background-size: cover;
	min-height: 100%;
	width: 100%;
	position: absolute;
	top: 0;	
}

.overlay{
 	background-image: url(https://res.cloudinary.com/dz3aesydr/image/upload/v1458105954/pattern_smiuul.png);
 	height: 100%;
 	width: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	background-attachment: fixed;
}

header .inner {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	padding: 0 15px;
}

h1, h2 {
	border: 1px solid #4C4B55;
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	padding: 25px;
	position: relative;
}

h1 {
	border-color: white;
	border-bottom: 0;
	font-size: 3rem;
	
}

h1, .scroll-msg {
	text-shadow: 0px 1px 1px #4C4B55;
	color: white;
}

h1:before, h1:after {
	content: '';
	position: absolute;
	border-bottom: 1px solid white;
	bottom: 0;
	width: 30px;
}

h1:before {
	left: 0;
}

h1:after {
	right: 0;
}

.scroll-msg {
	position: absolute;
	bottom: 22%;
	left: 0;
	right: 0;
	text-transform: uppercase;
	transition: all 0.5s linear;
	opacity: 1;
}

.hidden {
	opacity: 0;
}

h1 span, h2 p {
	font-size: 0.4em;
	position: absolute;
	left: 0;
	right: 0;
}

h1 span {
	bottom: -10px;
}

h2 p {
	top: -5px;
	text-align: center;
}

h2 p span {
	background: #FFF;
	padding: 0 5px;
}

a.scrollDown{
  color: #FFF;
  font-size: 1.8em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  text-align: center;
  line-height: 40px;
  text-shadow: 0px 1px 1px #4C4B55;
  opacity: 1; 
  transition: all 0.3s linear;
}

.scrollDown.hide {
	opacity: 0;
}

/* ---------- */
/* Nav     */
/* ---------- */

.nav-wrap {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-position: sticky;
	position: sticky;
	top: 0;
	background: #FFF;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	z-index: 100;
}

.navbar{
	padding: 0 15px;
}

a.navbar-brand {
	height: 65px;
	font-size: 1.2rem;
	padding: 19px 20px;
	background: #4C4B55;
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
}

.navbar-toggler:focus {
	outline-color: #88B04B;
}

.navbar-toggler span{
	font-size: 1.8rem;
	color: #4C4B55;
}

.nav-item {
	border-bottom: 1px solid #EFEFEF;
	position: relative;
}

.nav-link {
	transition: all 0.2s linear;
	border-bottom: 0px solid #FFF;
	height: 65px;
	line-height: 55px;
}

.nav-link:hover {
	border-color: #4C4B55;
	border-width: 3px;
}

.nav-link.active {
	border-color: #88B04B;
	border-width: 3px;
}


/* -------------- */
/* Section        */
/* -------------- */

.main {
	background: #FFF;
	position: relative;
	z-index: 10;
}

section {
	padding: 85px 0 0;
}

section .inner {
	text-align: center;
	margin-bottom: 60px;
}

/* About Section */

.profile-pic {
	margin-bottom: 14px;
	width: 270px;
}

ul.about-list {
    margin-bottom: 10px;
}

.about-list li {
	border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
}

.about-list li:last-child {
    border-bottom: 0;
}

h3, h4 {
	margin-bottom: 14px;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-family: 'Roboto';
}

h3 {
  line-height: 38px;
  font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
	margin-top: 14px;
}

.about-infos p {
    margin-bottom: 14px;
    line-height: 21px;
}

.about-infos li i {
	color: #88B04B;
}

.social a {
  margin: 0 5px;
  transition: color 0.3s;
  font-size: 2rem;
}

.social a:hover{
	color: #88B04B;
}

/* Work Section */

#work .container {
	position: relative;
}

#work h4 {
	margin-top: 0;
}

a.btn {
	background: #4C4B55;
	color: #FFF;
	text-shadow: 0px 1px 1px #4C4B55;
	text-transform: uppercase;
	border-radius: 0;
}

a.btn:hover {
	background: #88B04B;
	color: #FFF;
}

#work .col-md-8{
	display: none;
}

.browserNav {
	height: 26px;
	background: #ebecf5;
}

.dots, .dots:before, .dots:after {    
	position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(76,75,85,.20);
    border-radius: 100%;
    top: 9px;
}

.dots {
	left: 25px;
}

.dots:before, .dots:after {
	content: '';
	top: 0;
}

.dots:before {
	left: 16px
}

.dots:after {
	left: 32px;
}

.browser img {
	border: 1px solid #ebecf5;
}

#work hr {
	margin: 45px auto;
	width: 90%;
}

/* References */

#refs {
	background-color: #4C4B55;
	margin-top: 45px;
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
	padding-bottom: 45px;
}

#refs h2 {
	color: #FFF;
	border-color: #FFF;
}

#refs h2 span {
	background-color: #4C4B55;
}

button {
	border: 0;
	background: none;
	cursor: pointer;
}

button:focus {
	outline: 0
}

.arrows {
	text-align: center;
}

.arrows i {
	font-size: 3rem;
	line-height: 3rem;
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
}

blockquote {
	position: relative;
	min-height: 135px;
}

.quote {
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 0.5s;
}

.quote.selected {
	opacity: 1;
	position: relative;
}

q:before, q:after {
	content: '';
}

q .fa {
	font-size: 2rem;
}

.squares {
	text-align: center;
}

.square {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #FFF;
	margin: 0 5px;
	box-shadow: 0px 1px 1px #000;
	outline: 0;
}

.square.selected {
	background-color: #88B04B;
}

/* Contact */

#contact p, #contact .social {
	text-align: center;
}

#contact .social i{
	font-size: 3rem;
}



/* Footer */

.footer {
	background-color: #4C4B55;
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
	padding: 1rem 0;
	text-align: center;
	margin-top: 3rem;
}

/* -------------- */
/* Media queries  */
/* -------------- */

@media (max-width: 767px){
	#work .col-md-4:nth-of-type(2n) {
		order: -1;
	}
}

@media (min-width: 768px){
	#work .col-md-8 {
		display: block;
	}
}

@media (max-width: 991px){
	.navbar-collapse {
		width: 100%;
		position: absolute;
		top: 65px;
		left: 0px;
		background-color: #FFF;
		z-index: 12;
		overflow: hidden;
		height: 0;
		transition: all 0.3s linear;
		display: block;
		padding: 0 15px;
	}

	.navbar-collapse.show {
		height: 264px;
	}
}

@media (min-width: 992px){
	h1 {
		font-size: 4em;
	}

	h1 span {
		bottom: -12px;
	}
	
	header {
		background-position: 50% 50%;
	}

	.nav-item {
		border-bottom: 0;
		padding: 0 20px;
	}
	.profile-pic {
		width: auto;
	}
}

@media (min-width: 1200px){
	.nav-wrap nav {
		width: 1170px;
		margin: 0 auto;
	}
}

