/* NAVIGATION */

.nav-wrap
	background: #fff
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1)
	font-family: $headingFont
	position: sticky
	text-transform: uppercase
	top: 0	
	z-index: 100
	nav
		@media (min-width: 1200px)
			margin: 0 auto
			width: 1170px

.navbar
	padding: 0 15px

a.navbar-brand
	background: $mainColor
	color: #fff
	height: 65px
	font-size: 1.2rem
	padding: 19px 20px
	text-shadow: 0px 1px 1px #000

.navbar-toggler
	&:focus
		outline-color: $hover
	span
		color: $mainColor
		font-size: 1.8rem
	
.nav-item
	border-bottom: 1px solid #efefef
	position: relative
	@media (min-width: 992px)
		border-bottom: 0
		padding: 0 20px

.nav-link
	border-bottom: 0px solid #fff
	height: 65px
	line-height: 55px
	transition: all 0.2s linear
	&:hover
		border-color: $mainColor
		border-width: 3px
	.active
		border-color: $hover
		border-width: 3px	

.navbar-collapse
	@media (max-width: 991px)
		background-color: #fff
		display: block
		height: 0
		left: 0px
		overflow: hidden
		padding: 0 15px
		position: absolute
		top: 65px
		transition: all 0.3s linear
		width: 100%
		z-index: 12		
		&.show
			height: 264px