/* SECTION */

.main
	background: #FFF
	position: relative
	z-index: 10

section
	padding: 85px 0 0
	.inner
		margin-bottom: 60px
		text-align: center

/* About Section */

.profile-pic
	margin-bottom: 14px
	width: 270px
	@media (min-width: 992px)	
		width: auto
		

ul.about-list
	margin-bottom: 10px
	li
		border-bottom: 1px solid #e1e1e1
		padding: 10px 0
		&:last-child
			border-bottom: 0	

h3 
	font-family: $headingFont
	font-size: 1.5rem
	letter-spacing: -1px
	line-height: 38px
	margin-bottom: 14px
	text-transform: uppercase

h4
	font-family: $headingFont
	font-size: 1.3rem
	letter-spacing: -1px
	margin: 14px 0
	text-transform: uppercase

.about-infos 
	p
		line-height: 21px
		margin-bottom: 14px
	i
		color: $hover
	.cv
		i
			color: $mainColor
		span
			text-decoration: underline
		&:hover
			color: $hover
			i
				color : $hover

.social a
	font-size: 2rem
	margin: 0 5px
	transition: color 0.3s
	&:hover
		color: $hover

/* Work Section */

#work 
	.container
		position: relative
	h4
		margin-top: 0
	.col-md-8
		display: none
		@media (min-width: 768px)
			display: block
	hr
		margin: 45px auto
		width: 90%
	.col-md-4:nth-of-type(2n)
		@media (max-width: 767px)
			order: -1

a.btn
	background: $mainColor
	border-radius: 0
	color: #FFF
	text-shadow: 0px 1px 1px $mainColor
	text-transform: uppercase
	&:hover
		background: $hover
		color: #FFF	

.browserNav
	background: #ebecf5
	height: 26px
	
.dots
	background: rgba(76,75,85,0.2)
	border-radius: 100%
	height: 8px
	left: 25px
	position: absolute
	top: 9px
	width: 8px
	&:before
		@extend .dots
		content: ''
		left: 16px
		top: 0
	&:after
		@extend .dots
		content: ''
		left: 32px
		top: 0

.browser img
	border: 1px solid #ebecf5

/* References */

#refs
	background-color: $mainColor
	color: #FFF
	margin-top: 45px
	padding-bottom: 45px
	text-shadow: 0px 1px 1px #000
	
#refs 
	h2
		border-color: #FFF
		color: #FFF
		.wrap span
			background-color: $mainColor	

button
	background: none
	border: 0
	cursor: pointer
	&:focus
		outline: 0

.arrows
	text-align: center
	i
		color: #FFF
		font-size: 3rem
		line-height: 3rem
		text-shadow: 0px 1px 1px #000

blockquote
	min-height: 135px
	position: relative

.quote
	opacity: 0
	position: absolute
	top: 0
	transition: opacity 0.5s
	&.selected
		opacity: 1
		position: relative	

q
	&:before,
	&:after
		content: ''
	.fa
		font-size: 2rem

.squares
	text-align: center

.square
	background-color: #fff
	box-shadow: 0px 1px 1px #000
	display: inline-block
	height: 10px
	margin: 0 5px
	outline: 0
	width: 10px
	&.selected
		background-color: $hover
	
/* Contact */

#contact
	p,
	.social
		text-align: center
	.social i
		font-size: 3rem
